<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Practice GPT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="data-binding">Data-Binding</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Directive Strucutrelles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" routerLink="ng-for">Ng-For</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="ng-if">Ng-If</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="ng-style">Ng-Style</a>
                        </li>
                        
                        <li>
                            <a class="dropdown-item" routerLink="control-flow">Control-flow</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Signal
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" routerLink="signal">Signal</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="linked-signal">Linked-Signal</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Form
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li>
                            <a class="dropdown-item" routerLink="template-form">Template-Form</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet> -->
<app-dynamic-list></app-dynamic-list>